*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: auto !important;
  display: none;
}

.agendamentos_pagina {
  background: linear-gradient(
    90deg,
    rgba(102, 126, 234, 1) 0%,
    rgba(118, 75, 162, 1) 100%
  );
  min-height: 100vh;
}

.gradient-text {
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    rgba(102, 126, 234, 1) 0%,
    rgba(118, 75, 162, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-custom {
  border: white;
  top: 1%
}

/* CONTADOR */
.badge {
        background: linear-gradient(180deg, #997300, #ffc000) !important;
    border: none !important;
    color: #fff !important;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: 600;
    transition: opacity 0.3s ease;
    padding: 15px 25px !important;
    font-size: 22px !important;
    border-radius: 40px !important;
    margin-left: 85%;
}

.badge:hover {
    opacity: 0.85;
}

.voltar{
  margin-top: 20px;
}